@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
        <a href="#" class="gotopbtn">
        </a>
        <section class="blog-single">
            <div class="header-text">
                <h2>Manhattan Pia-terre <br> for a new Chicago <br> apartment</h2>
                <div class="blocks-info">
                    <div class="blog-blocks">
                        <div class="blog-block">
                            <h3>Category</h3>
                            <p>Article</p>
                        </div>
                        <div class="blog-block">
                            <h3>Date</h3>
                            <p>13.10.2022</p>
                        </div>
                    </div>
                    <div class="blog-blocks">
                        <div class="blog-block">
                            <h3>Author</h3>
                            <p>Agaths Sakowicz</p>
                        </div>
                        <div class="blog-block">
                            <h3>Read Time</h3>
                            <p>10</p>
                        </div>
                    </div>
                    <div class="blog-blocks-circ">
                        <div class="blog-block-circ">
                            <i class="fa-regular fa-message"></i>
                        </div>
                        <div class="blog-block-circ">
                            <i class="fa-regular fa-heart"></i>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="blog-main">
            <img class="hvr-shrink scrollreveal" src="~/media/blog1.jpg" alt="blog">
            <h3>Modern Texas home is beautiful and completely kid-friendly</h3>
            <p>Making a modern home that's both kid-friendly and beautiful is no simple task.
                But for one family of six in Austin, Texas, it was crucial. So they enlisted
                designer Andrew Howard to turn the modern home into a cozy space everyone can enjoy.
                At around 10,000 square feet, the five-bedroom, seven-bathroom home needed both
                cosmetic changes and structural tweaks. "We wanted to create comfy spaces where
                everyone in the family could pile up and hang out together," Howard says.
                "We also wanted to preserve the amazing views of downtown."
                Howard gave the home a subdued color palette to warm it up and incorporated sleek pieces throughout.
                “While the furniture needed to have cleaner lines based on the style of the house,
                we didn’t want anything to be off-limits to the kids,” the designer says.
                He also completely redid the kitchen, opening up the closed-off space to the
                family room so that it can easily accommodate everyone in the house.
                In the kitchen, off-white cabinetry and white marble counters are warmed up with
                light-wood flooring and ample seating from McGuire Furniture. "The challenge here
                was to open the kitchen up to make it livable and look like it had always been there,"
                Howard says. Pendants: Urban Electric. Backsplash: Neolith.
                "Just off the dining room, this is a place adults can hang out," Howard says of the sun room.
                "It has an amazing view of downtown, and we wanted to preserve that."
                Chair: Mcguire Furniture in Peter Dunham fabric. Rug: Crescent.
                Floor lamp, side table, rattan seating: Mrs. Howard. Sofa: Hickory Chair Furniture Co.
                Curtains: Rebecca Atwood. Table: custom.
            </p>
            <div class="blog-images">
        <img class="hvr-shrink scrollreveal" src="~/media/blog2.webp" alt="blog">
        <img class="hvr-shrink scrollreveal" src="~/media/blog3.jpg" alt="blog">
            </div>
            <h3>Choosing the Perfect Furniture Ensemble for Your Home</h3>
            <p>Welcome to a world where your home transforms into a canvas of personal expression and timeless
                sophistication. Selecting the ideal furniture ensemble is not just about filling spaces; it's a journey
                of
                crafting an environment that mirrors your unique style, caters to your lifestyle, and exudes a sense of
                comfort that resonates throughout.
                In our expansive collection, each piece is carefully curated to bring together a symphony of design,
                functionality, and aesthetic appeal. Whether you envision a contemporary living room that invites
                conversation or a cozy bedroom sanctuary that beckons relaxation, our selection offers a spectrum of
                possibilities.
                Embark on this adventure with our expert designers, who understand that your home is a reflection of
                your
                identity. Start by envisioning the atmosphere you wish to create – perhaps a haven of tranquility, a hub
                of
                social gatherings, or a fusion of both. With an array of styles, from classic elegance to modern chic,
                we
                empower you to tailor your space to align seamlessly with your vision.
                Consider the heart of your home – the living room. Here, plush sofas and accent chairs invite you to
                unwind,
                while coffee tables and entertainment units seamlessly blend style with functionality. Move into the
                dining
                area, where exquisite tables and chairs set the stage for memorable gatherings and family meals.
                The bedroom becomes a personal retreat, adorned with carefully selected beds, dressers, and nightstands
                that
                cocoon you in comfort. Explore the fusion of form and function in our kitchen furniture collection,
                where
                sleek designs meet practicality to create a culinary space that inspires creativity.
                But our commitment goes beyond aesthetics. We understand the importance of quality craftsmanship and
                durable
                materials. Each piece is meticulously crafted to stand the test of time, ensuring that your investment
                in
                creating a harmonious living space is a lasting one.
                Choosing the perfect furniture ensemble is an art, and we're here to guide you through the process. Let
                your
                home tell your story, unfold your personality, and embrace the journey of transforming spaces into an
                embodiment of your dreams. Welcome to a world where furniture transcends utility, becoming an integral
                part
                of your narrative.</p>
            <div class="blog-images-two">
        <img class="hvr-shrink scrollreveal" src="~/media/blog4.jpg" alt="blog">
        <img class="hvr-shrink scrollreveal" src="~/media/blog5.jpg" alt="blog">
            </div>
            <a href="#" class="blog-btn">See all articles</a>
        </section>
        <section class="blog-cards">
            <div class="article-cards">
                <div class="card-article">
            <img class="hvr-shrink scrollreveal" src="~/media/blog6.jpg" alt="blog">
                    <h3>Inside a playful, bohemain beach house on Marthas Vineyard</h3>
                    <p>I would follow Jessica to the end of the Earth,” Johanna Hynes says,
                        referring to her designer, Jessica Stambaugh. The Nashwille-based
                        principal of JS Interiors designed Hynes’ Boston wellness studio, Asana
                        Charlestown, her family's townhouse — and most recently, their beach
                        chalet in Katama on Martha's Vineyard.</p>
                    <a href="" class="btn-article">Read Article</a>
                </div>
                <div class="card-article">
            <img class="hvr-shrink scrollreveal" src="~/media/blog7.jpg" alt="blog">
                    <h3>Modern Texas home is beautiful and completely kid-friendly</h3>
                    <p>Making a modern home that's both kid-friendly and beautiful is no simple task.
                        But for one family of six in Austin, Texas, it was crucial. So they enlisted
                        designer Andrew Howard to turn the modern home into a cozy space everyone can enjoy.
                        At around 10,000 square feet, the five-bedroom, seven-bathroom home needed both
                        cosmetic changes and structural tweaks.
                    </p>
                    <a href="" class="btn-article">Read Article</a>
                </div>
                <div class="card-article">
            <img class="hvr-shrink scrollreveal" src="~/media/blog8.jpg" alt="blog">
                    <h3>Tudor-style home in Chicago's North Shore is chock-full</h3>
                    <p>Explore the allure of timeless design as we delve into the captivating interiors of a
                        Tudor-style home nestled in Chicago's North Shore. This architectural gem seamlessly blends
                        classic charm with modern elegance, creating a living space that's not just stylish but
                        also brimming with character.</p>
                    <a href="" class="btn-article">Read Article</a>
                </div>
            </div>
        </section>
        <section class="club-block">
            <div class="partclub-section" id="partclub-section">
                <div class="partclub-block">
                    <p class="partclub-text">Be part of our club <br>for discount</p>
                    <div class="your-email">
                        <input type="text" placeholder="YOUR EMAIL">
                    </div>
                </div>
            </div>
        </section>