@model List<CatalogItemModel>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Корзина</title>
</head>
<body>
    <h1>Корзина</h1>

    <!-- Відображення товарів у корзині -->
    <div class="cart-items">
        @if (Model != null && Model.Any())
        {
            foreach (var item in Model)
            {
                <div class="cart-item">
                    <img src="@item.FullImageUrl" alt="product image">
                    <h3>@item.Name</h3>
                    <p>@item.Price</p>
                </div>
            }
        }
        else
        {
            <p>Корзина порожня</p>
        }
    </div>

    <!-- Форма для додавання товару до корзини -->
    <form id="addToCartForm">
        <label for="productId">ID товару:</label>
        <input type="text" id="productId" name="productId">
        <button type="submit">Додати до корзини</button>
    </form>

    <!-- Скрипт для відправлення запиту на сервер для додавання товару до корзини -->
    <script>
        document.getElementById("addToCartForm").addEventListener("submit", function (event) {
            event.preventDefault();
            
            var productId = document.getElementById("productId").value;
            
            fetch('/Cart/AddToCart/' + productId, { method: 'POST' })
                .then(response => {
                    if (response.ok) {
                        // Логіка для випадку успішного додавання товару до корзини
                        // Наприклад, відобразити повідомлення про успішне додавання або оновити вміст корзини на сторінці
                        console.log("Товар додано до корзини!");
                    } else {
                        // Логіка для випадку помилки
                        console.error("Помилка при додаванні товару до корзини!");
                    }
                })
                .catch(error => {
                    console.error("Помилка: " + error);
                });
        });
    </script>
</body>
</html>
